<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
		  <li>
            {%- if site.email -%}
              <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
			{%- endif -%}
		  </li>
          <li>
		    <a href="https://dx.doi.org/10.5281/zenodo.4305950"><img src="https://zenodo.org/badge/204500928.svg" alt="DOI"></a>
		  </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}; available under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.</p>
      </div>
    </div>

  </div>

</footer>
