---
layout: default
---
<article class="post">

  <header class="post-header">
	
    <h1 class="post-title">{{ page.title }}</h1>
	{% include mathjax.html %}
	
  </header>

  <div class="post-content">
	
	<b>Index:</b> <a href="https://StatProofBook.github.io">The Book of Statistical Proofs</a> &#x25B7; <a href="https://statproofbook.github.io/Indexes/Table_of_Contents.html#{{ page.chapter }}">{{ page.chapter }}</a> &#x25B7; {{ page.section }} &#x25B7; {{ page.topic }} &#x25B7; {{ page.theorem }} <br><br>
	
	{{ content }}
	
	<b>Dependencies:</b> <br><br>
	{% for item in page.dependencies %}
	* {{item.title}} <br>
	{% endfor %} <br>

	<b>Metadata:</b> ID: {{ page.proof_id }} | shortcut: {{ page.shortcut }} | author: <a href="https://github.com/{{ page.username }}">{{ page.username }}</a> | date: {{ page.date | date: "%Y-%m-%d" }}.
	
  </div>

</article>