---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include mathjax.html %}
  </header>

  <div class="post-content">
	
	<a href="https://statpagebook.github.io">The Book of Statistical pages</a> >> {{ page.chapter }} >> {{ page.section }} >> {{ page.topic }} >> {{ page.theorem }}
	<!-- <h1>{{ page.title }}</h1> -->
    {{ content }}
	<b>Metadata:</b> ID: {{ page.proof_id }} | name: {{ page.shortcut }} | author: {{ page.username }} | date: {{ page.date | date: "%Y-%m-%d" }}.
	
  </div>

</article>