---
layout: default
---
<article class="post">

  <header class="post-header">
	
    <h1 class="post-title">{{ page.title }}</h1>
    {% include mathjax.html %}
	
  </header>

  <div class="post-content">
	
	<!-- <h1>{{ page.title }}</h1> -->
	<b>Index:</b> <a href="https://StatProofBook.github.io">The Book of Statistical Proofs</a> &#x25B7; {{ page.chapter }} &#x25B7; {{ page.section }} &#x25B7; {{ page.topic }} &#x25B7; {{ page.theorem }} <br><br>
	{{ content }}
	<b>Metadata:</b> ID: {{ page.proof_id }} | name: {{ page.shortcut }} | author: <a href="https://github.com/{{ page.username }}">{{ page.username }}</a> | date: {{ page.date | date: "%Y-%m-%d" }}.
	
  </div>

</article>